{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="form-rol">
            <input class="form-check-input" type="radio" id="ROLE_ADMIN" name="user_role" value="ROLE_ADMIN">
            <label class="form-check-label" for="ROLE_ADMIN">
                Admin
            </label>
            <input class="form-check-input" type="radio" id="ROLE_USER" name="user_role" value="ROLE_USER" checked>
            <label class="form-check-label" for="ROLE_USER">
                User
            </label>
        </div>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
